.footerBG {
    position: absolute;
    width: 100%;
    background-color:rgb(245, 244, 244);
}

.social-links{
    margin: 25px 0px 25px 0px; 
}

.footer-buttons{
    margin: auto;   
}

.social-icon{
    margin: 40px 50px 45px 50px;
}