#firstComp{ 
    margin: 35px;
    
    .contentTitle{
        margin: 50px auto 50px auto;
    }
    /*
    
    @media screen and (max-witdh: 1000px){
        .container .contents{
            flex-flow: row wrap;
        }
    }

    @media screen and (max-witdh: 1200px){
        .contents{
            flex-flow: row wrap;
        }
    }  */
    
    section{
        margin-bottom: 50px;
    }

    h3{
        font-family: 'Lato', sans-serif;
    }

    h6{
        margin-top: 35px;
    }

    .showAll{
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
        font-size: 18px;
    }

    .vendorIcon,
    .mobileIcon,
    .cakeIcon{
        margin-right: 25px;
        //border: 1px solid rgb(231, 230, 230);
        border-radius: 50px;
        padding: 20px; 
    }

    .vendorIcon:hover,
    .mobileIcon:hover,
    .cakeIcon:hover { 
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    }

    .catVendors,
    .catCakes{
        padding-left: 10px;
        font-style: italic;
    }

    #mobile{
        .card {
            &::before,
            &::after {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              transform: scale3d(0, 0, 1);
              transition: transform .3s ease-out 0s;
              background: rgba(255, 255, 255, .1);
              content: '';
              pointer-events: none;
            }
          
            &::before {
              transform-origin: left top;
            }
          
            &::after {
              transform-origin: left bottom;
            }
          
            &:hover,
            &:focus {
              &::before,
              &::after {
                transform: scale3d(1, 1, 1);
              }
            }
        }
    }

    #cakes{
        .card {
            &::before,
            &::after {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              transform: scale3d(0, 0, 1);
              transition: transform .3s ease-out 0s;
              background: rgba(255, 255, 255, .1);
              content: '';
              pointer-events: none;
            }
          
            &::before {
              transform-origin: left top;
            }
          
            &::after {
              transform-origin: right bottom;
            }
          
            &:hover,
            &:focus {
              &::before,
              &::after {
                transform: scale3d(1, 1, 1);
              }
            }
        }
    }
}
