#contentCard {
  padding-left: 0; }
  #contentCard .card {
    margin-bottom: 25px;
    border: none;
    transition: transform .3s; }
    #contentCard .card::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
      content: '';
      opacity: 0;
      z-index: -1; }
    #contentCard .card:hover, #contentCard .card:focus {
      transform: scale3d(1.006, 1.006, 1); }
      #contentCard .card:hover::after, #contentCard .card:focus::after {
        opacity: 1; }
    #contentCard .card h6 {
      margin: 0 !important; }
    #contentCard .card .card-body {
      padding: 5px 5px 5px 0px; }
