  #home{
    overflow-x: hidden;
  }
  
  .firstSection {
    background-image: url("/img/photos/Pierre-TinyTowne.jpg");
    /*
    background-position: calc(35% - 50px) 50%;
    */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;

    .intro {
      h3 {
        width: 280px;
        left: 50px;
        position: relative;
        padding-top: 120px;
        color: #ffffff;
        font-weight: bold;

          span{
            position: relatvie;
            font-size: 15px;
            float: left;
            padding-top: 10px;
          }
      }
    }

    .column {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .register {
      padding-top: 80px;
      
      .card{
        max-width: 350px;
        float: right;
        margin-right: 50px; 
        margin-bottom: 25px;
      }

      .btn-primary {
        background-color: #2AAEFF !important; 
        border-color: #2AAEFF !important;
        font-weight: 600;
      } 
    }  
  }

  .secondSection  {
    min-height: 40px;
    text-align:center;
    padding: 80px 140px;
    background-color:#f4f4f4;
    color:#666;

    .secondContent{
      max-width: 750px;
      text-align: center;

      p{
        padding-top: 1px;
      }
    }

  }

  .thirdSection {
    .contents {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr; 
    }
  }

  .fourthSection{
    .row {
      display: flex; 
    }

    h2 {
      margin-top: 60px;
      text-align: center; 
    }

    .find,
    .explore,
    .cashout {
      padding: 80px 60px;
      text-align: center;
    }
    
    .findImg,
    .exploreImg {
      width: 400px;
      height: 580px; 
      margin-left: auto;
      margin-right: auto;
    }
    
    .cashoutImg {
      width: 520px;
      height: 400px;
    }
  }

  .fifthhSection {
    background-color: #f5f4f4; 

    .container{
      max-width: 450px;
    }

    .providersContent{
      h2{
        padding-top: 40px;
        text-align: center;
      }

      p{
        padding-top: 20px; 
        margin-bottom: 20px;
        text-align: center;
        
      }
    }

    .provider {
      background-image: url("/img/graphics/providerlogo.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-attachment: relative;
      height: 400px;
      margin-bottom: 50px; 
    }
  }
  
  .sixthSection{
    margin-top: 80px;
    margin-bottom: 100px;

    .column {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .signup-lists {
      list-style-type: none;
      text-align: center;
      margin: 40px; 
      margin-right: 60px;
    }
    
    .signup-form{
      margin-left: 60px;
      margin-right: 20px;
      margin-top: 15px;
    }
    
    .divider {
      border-left: 1px solid;
      margin-top: 20px;
      height: 320px; 
    }
  }

  @media (max-width: 990px){
    .firstSection {
      -webkit-background-size:contain;
      -moz-background-size:contain;
      -o-background-size:contain;
      background-size:contain;
      background-repeat:no-repeat;
      background-position: center top;
    }
  
    #home .thirdSection .contents {
      /*breakpoint*/
      grid-template-columns: none; }

    .sixthSection {
      .divider {
        border: none;
      }
      .signup-form{
        margin-left: 120px;
        margin-right: 120px;
      }
      h3{
        margin-bottom: 35px;
      }

      .column {
        grid-template-columns: none; } 
    }
  }
