#signupModal .modal .modal-header {
  margin-top: 30px;
  border-bottom: none; }

#signupModal .modal .modal-title {
  text-align: center; }
  #signupModal .modal .modal-title h4 {
    font-weight: 350; }
  #signupModal .modal .modal-title h4:before,
  #signupModal .modal .modal-title h4:after {
    background-color: #E9ECEF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%; }
  #signupModal .modal .modal-title h4:before {
    right: 0.5em;
    margin-left: -50%; }
  #signupModal .modal .modal-title h4:after {
    left: 0.5em;
    margin-right: -50%; }

#signupModal .modal .pormoContent {
  margin-top: 20px;
  font-size: 14px; }

#signupModal .modal .signupBtn {
  margin-top: 30px;
  margin-bottom: 10px; }
